<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.DBSISTEMA_VENTAConnectionString"
            connectionString="Data Source=DESKTOP-U3FF49J\LGBN_SQL2025;Initial Catalog=DBSISTEMA_VENTA;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>